:root {
  --bg: #ffffff;
  --brand-color: wheat;
  --border: #333;
  --border-light: #ccc;
  --text-muted: #999;
  --text-subtle: #666;
  --text-strong: #000;
  --surface: color-mix(in srgb, var(--bg), white 0%);
  --shadow: color-mix(in srgb, var(--bg), black 25%);
  color-scheme: light dark;
  background-color: var(--bg);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #16171d;
    --border: color-mix(in srgb, var(--bg), white 10%);
    --border-light: color-mix(in srgb, var(--bg), white 15%);
    --text-muted: #777;
    --text-subtle: #888;
    --text-strong: #ddd;
    --surface: color-mix(in srgb, var(--bg), white 5%);
    --shadow: color-mix(in srgb, var(--bg), black 40%);
  }
}

@font-face {
  font-display: swap;
  font-family: 'Silkscreen';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/silkscreen-v6-latin-regular.woff2') format('woff2');
}

body {
  margin: 0;
  padding: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: "Silkscreen", monospace;
}

app-root {
  min-width: min(600px, 100%);
}
